$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);

// ### Social Media

$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$youtube: hsl(348, 97%, 39%);

// #### Dark Theme

$dark-toggle-background: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
$dark-background: hsl(230, 17%, 14%);
$dark-top-background-pattern: hsl(232, 19%, 15%);
$dark-card-background: hsl(228, 28%, 20%);
$dark-blue-text: hsl(228, 34%, 66%);
$dark-white-text: hsl(0, 0%, 100%);

// #### Light Theme

$light-toggle-background: hsl(230, 22%, 74%);
$light-background: hsl(0, 0%, 100%);
$light-top-background-pattern: hsl(225, 100%, 98%);
$light-card-background: hsl(227, 47%, 96%);
$light-blue-text: hsl(228, 12%, 44%);
$light-dark-blue-text: hsl(230, 17%, 14%);